node_modules
.angular
.angular/cache/18.2.2/property-listing-frontend/.tsbuildinfo
src/environments/environments.ts
.angular/cache/18.2.2/vite/deps/_metadata.json
.angular/cache/18.2.2/property-listing-frontend/.tsbuildinfo
.angular/cache/18.2.2/vite/deps/_metadata.json
.angular/cache/18.2.2/property-listing-frontend/.tsbuildinfo
.angular/cache/18.2.2/vite/deps/_metadata.json
assets/css/apexcharts.css
assets/css/fullcalendar.main.css
assets/css/google-icon.css
assets/css/prism.css
assets/css/quill.snow.css
assets/css/rangeslider.css
assets/css/remixicon.css
assets/css/sidebar-menu.css
assets/css/simplebar.css
assets/css/style.css
assets/css/style.css.map
assets/css/sweetalert.min.css
assets/css/swiper-bundle.min.css
assets/fonts/remixicon.eot
assets/fonts/remixicon.svg
assets/fonts/remixicon.ttf
assets/fonts/remixicon.woff
assets/fonts/remixicon.woff2
assets/images/add.svg
assets/images/administrator.jpg
assets/images/apple.svg
assets/images/asana.svg
assets/images/behance.svg
assets/images/canada.svg
assets/images/card-1.jpg
assets/images/card-2.jpg
assets/images/carousel-1.jpg
assets/images/carousel-2.jpg
assets/images/check.svg
assets/images/chevron-left.svg
assets/images/chevron-right.svg
assets/images/client-1.jpg
assets/images/client-2.jpg
assets/images/client-3.jpg
assets/images/client-4.jpg
assets/images/client-5.jpg
assets/images/client-6.jpg
assets/images/client-7.jpg
assets/images/client-8.jpg
assets/images/client-9.jpg
assets/images/client-10.jpg
assets/images/client-11.jpg
assets/images/client-12.jpg
assets/images/congratulations.gif
assets/images/courses-1.jpg
assets/images/doc.png
assets/images/down-white.svg
assets/images/down.svg
assets/images/down2.svg
assets/images/dribbble.svg
assets/images/dribbble2.svg
assets/images/error.png
assets/images/event-1.jpg
assets/images/event-2.jpg
assets/images/event-3.jpg
assets/images/event-4.jpg
assets/images/event-5.jpg
assets/images/event-6.jpg
assets/images/event-7.jpg
assets/images/event-8.jpg
assets/images/event-9.jpg
assets/images/event-10.jpg
assets/images/event-details.jpg
assets/images/facebook.svg
assets/images/facebook2.svg
assets/images/facebook3.svg
assets/images/favicon.png
assets/images/figma.svg
assets/images/forgot.jpg
assets/images/full-screen.png
assets/images/gdrive.svg
assets/images/germany.svg
assets/images/git.svg
assets/images/github.svg
assets/images/google.svg
assets/images/google2.svg
assets/images/html.png
assets/images/instagram.svg
assets/images/internal-error.png
assets/images/jpg.png
assets/images/linkedin.svg
assets/images/login.jpg
assets/images/logo-icon.png
assets/images/logo.svg
assets/images/mailchimp.svg
assets/images/map.svg
assets/images/master-card.png
assets/images/message.svg
assets/images/pdf.png
assets/images/pinterest.svg
assets/images/png.png
assets/images/popular.svg
assets/images/portugal.svg
assets/images/product-1.jpg
assets/images/product-2.jpg
assets/images/product-3.jpg
assets/images/product-4.jpg
assets/images/product-5.jpg
assets/images/product-6.jpg
assets/images/product-7.jpg
assets/images/product-8.jpg
assets/images/product-9.jpg
assets/images/product-10.jpg
assets/images/product-11.jpg
assets/images/product-12.jpg
assets/images/product-13.jpg
assets/images/product-14.jpg
assets/images/product-15.png
assets/images/product-16.png
assets/images/product-17.png
assets/images/profile-bg.jpg
assets/images/qr-code.svg
assets/images/question-and-answer.png
assets/images/register.jpg
assets/images/remove.svg
assets/images/reset.jpg
assets/images/satisfaction.png
assets/images/screenshorts-2.jpg
assets/images/screenshorts-3.jpg
assets/images/screenshorts.jpg
assets/images/seller-1.png
assets/images/seller-2.png
assets/images/seller-3.png
assets/images/seller-4.png
assets/images/seller-5.png
assets/images/seller-6.png
assets/images/seller-7.png
assets/images/seller-8.png
assets/images/seller-9.png
assets/images/seller-10.png
assets/images/seller-11.png
assets/images/seller-12.png
assets/images/shape.png
assets/images/slack.svg
assets/images/slak.svg
assets/images/social-media.png
assets/images/spain.svg
assets/images/spotify.svg
assets/images/starter.png
assets/images/trello.svg
assets/images/twitter.svg
assets/images/txt.png
assets/images/united-kingdom.svg
assets/images/united-states.jpg
assets/images/usa.svg
assets/images/user-1.jpg
assets/images/user-2.jpg
assets/images/user-3.jpg
assets/images/user-4.jpg
assets/images/user-5.jpg
assets/images/user-6.jpg
assets/images/user-7.jpg
assets/images/user-8.jpg
assets/images/user-9.jpg
assets/images/user-10.jpg
assets/images/user-11.jpg
assets/images/user-12.jpg
assets/images/user-13.jpg
assets/images/user-14.jpg
assets/images/user-15.jpg
assets/images/user-16.jpg
assets/images/user-17.jpg
assets/images/user-18.jpg
assets/images/user-19.jpg
assets/images/user-20.jpg
assets/images/user-21.jpg
assets/images/user-22.jpg
assets/images/user-23.jpg
assets/images/user-24.jpg
assets/images/user-25.jpg
assets/images/user-26.jpg
assets/images/user-27.jpg
assets/images/user-28.jpg
assets/images/user-29.jpg
assets/images/user-30.jpg
assets/images/user-31.jpg
assets/images/user-32.jpg
assets/images/user-33.jpg
assets/images/user-34.jpg
assets/images/user-35.jpg
assets/images/user-36.jpg
assets/images/user-37.jpg
assets/images/user-38.jpg
assets/images/user-39.jpg
assets/images/user-40.jpg
assets/images/user-41.jpg
assets/images/user-42.jpg
assets/images/user-43.jpg
assets/images/user-44.jpg
assets/images/user-45.jpg
assets/images/user-46.jpg
assets/images/user-47.jpg
assets/images/user-48.jpg
assets/images/user-49.jpg
assets/images/user-50.jpg
assets/images/user-51.jpg
assets/images/user-52.jpg
assets/images/user-53.jpg
assets/images/user-54.jpg
assets/images/user-55.jpg
assets/images/user-56.jpg
assets/images/user-57.jpg
assets/images/user-58.jpg
assets/images/user-59.jpg
assets/images/user-60.jpg
assets/images/user-61.jpg
assets/images/user-62.jpg
assets/images/user-63.jpg
assets/images/user-64.jpg
assets/images/user-65.jpg
assets/images/user-66.jpg
assets/images/user-67.jpg
assets/images/user-68.jpg
assets/images/user-69.jpg
assets/images/user-70.png
assets/images/video.mp4
assets/images/welcome-2.gif
assets/images/welcome.png
assets/images/white-logo.svg
assets/images/wordpress.png
assets/images/xl4.png
assets/images/landing/banner-bg.png
assets/images/landing/banner-img.png
assets/images/landing/contact-us.jpg
assets/images/landing/logo.svg
assets/images/landing/shape-1.png
assets/images/landing/shape-2.png
assets/images/landing/shape-3.png
assets/images/landing/shape-4.png
assets/images/landing/shape-5.png
assets/images/landing/shape-6.png
assets/images/landing/tailor-img.png
assets/images/landing/team-1.jpg
assets/images/landing/team-2.jpg
assets/images/landing/team-3.jpg
assets/images/landing/testimonial-1.jpg
assets/images/landing/testimonial-2.jpg
assets/images/landing/testimonial-3.jpg
assets/images/landing/testimonial-4.jpg
assets/images/landing/testimonial-5.jpg
assets/images/landing/testimonial-6.jpg
assets/js/apexcharts.min.js
assets/js/bootstrap.bundle.min.js
assets/js/clipboard.min.js
assets/js/data-table.js
assets/js/dragdrop.js
assets/js/feather.min.js
assets/js/fullcalendar.main.js
assets/js/prism.js
assets/js/quill.min.js
assets/js/rangeslider.min.js
assets/js/sidebar-menu.js
assets/js/simplebar.min.js
assets/js/sweetalert.js
assets/js/swiper-bundle.min.js
assets/js/custom/apexcharts.js
assets/js/custom/custom.js
assets/scss/_variables.scss
assets/scss/style.scss
assets/scss/components/_blank.scss
assets/scss/components/_calendar.scss
assets/scss/components/_card-bg-style.scss
assets/scss/components/_card-style.scss
assets/scss/components/_chat.scss
assets/scss/components/_dark-mode.scss
assets/scss/components/_default-table.scss
assets/scss/components/_fluid-boxed-style.scss
assets/scss/components/_footer-area.scss
assets/scss/components/_footer-dark.scss
assets/scss/components/_global.scss
assets/scss/components/_header-area.scss
assets/scss/components/_header-dark.scss
assets/scss/components/_landing-page.scss
assets/scss/components/_main-content.scss
assets/scss/components/_pagination.scss
assets/scss/components/_priceing.scss
assets/scss/components/_products.scss
assets/scss/components/_rtl.scss
assets/scss/components/_sales-by-locations.scss
assets/scss/components/_sidebar-dark.scss
assets/scss/components/_sidebar-menu.scss
assets/scss/components/_status-box.scss
assets/scss/components/_timeline.scss
.gitignore
src/environments/environment.ts
.angular/cache/18.2.2/vite/deps/_metadata.json
