<app-header></app-header>
<div class="container" style="margin-top: 200px;">
    <div class="card mx-auto" style="width: 25rem;margin-top: 200px;">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <input type="email" class="form-control mb-2" [(ngModel)]="userdata.email" name="email" placeholder="email">
            <input type="password" class="form-control mb-2" [(ngModel)]="userdata.password" name="password" placeholder="password">
            <button class="btn btn-primary w-100" (click)="login()">Login</button>
            <button (click)="loginWithGoogle()" class="google-btn mt-3 mb-2 text-center mx-auto">
                <img src="g.png" alt="Google logo" class="google-logo">
                Sign in with Google
              </button>
            <br>
            <p class="text-center">
            <a class="text-center text-decoration-none" href="/signup">Signup</a>
            </p>
        </div>
    </div>
</div>

<p>
    {{response | json}}
</p>